extends layout

block content
	h1= title
	form(method='post' action='/movies/'+title)
		input(type='hidden' name='_method' value='put')
		p 제목:
		#{title}
		p 감독:
		input(type='text' name='director' value=director)
		p 배우:
		input(type='text' name='actor' value=actor)
		p
		input(type='submit' value='update')
	p 수정-----------------------------------------
	form(method='post' action='/movies/'+title)
		input(type='hidden' name='_method' value='delete')
		p
		input(type='submit' value='삭제')
